.recent-articles {
  border-radius: 0.75rem;
  border: 1px solid #991b1b;
  padding: 1rem;
  text-align: start;
  transition: border-color 0.3s ease;
  margin: 0.5rem 1rem;
  &:hover {
    border-color: #7c2d12;
  }
}
